<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <title>Learn Vue.js</title>
</head>


<body>

    <div id="app-root">
        <h2 :id="myColor" :class="myColor">My Title</h2>
        <input type="text" v-model="myColor"/>


        <h3 :style="color:red; font-size: 20px;">My style bibding</h3>
        <h3 :style="`color:${myColor}`">My style bibding</h3>
        <h3 :style="`font-size:${myFont}px`">My style bibding</h3>
        <input type="number" name="" id="" v-model="myFont" />

    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
</body>

</html>